@import "tailwindcss";
@import "@nuxt/ui";
@import "../theme/breakpoints.css";
@import "../theme/color.css";
/* ===== FONTS ===== */
@import "../css/main.scss";

@media (min-width: 1560px) {
  .container {
    width: 100%;
    max-width: 1560px;
  }
}

@media (max-width: 1560px) {
  .container {
    width: 100%;
  }
}
